<%= form_for(user, html: { class: ["w3-left-align"] }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="w3-panel w3-red">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><b><%= message %></b></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: "required" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: "required" %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="actions">
    <%= f.submit action_text, class: "w3-btn-block w3-section w3-padding w3-theme-d1" %>
  </div>
<% end %>
