<div>
<div class="w3-container">
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h4>Users</h4>
</div>

<div class="w3-responsive">
<table class="w3-table w3-border w3-border-black">
  <thead class="w3-theme-l4">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
