<article data-authorid="<%= article.user.id%>" class="w3-card-4 w3-margin w3-white">

  <div class="w3-container w3-padding-8">
    <div class="post_title"><%= article.title %></div>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <span><%= article.updated_at.localtime.strftime "Last updated on %m/%d/%Y"  %></span>
      </div>
      <% if true %>
        <div class="w3-col m4 s12">
          <div class="w3-right">
            <%
              display = "none"
              display = "inline" if author_of? article
            %>
            <%= content_tag :span, "data-article-menu" => "edit", style: "display: #{display};" do %>
              <%= link_to 'Edit', edit_post_path(article) %> |
            <% end %>
            <%
              display = "none"
              display = "inline" if author_of?(article) || admin?
            %>
            <%= content_tag :span, "data-article-menu" => "delete", style: "display: #{display};" do %>
              <%= link_to 'Delete', post_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="w3-container">
    <p><%= simple_format article.content %></p>
    <p class="author_name">
      &mdash;<%= article.user %>
    </p>
  </div>
</article>
