<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="w3-row">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit class: "w3-theme-d2" %>
  </div>
<% end %>
