<div class="w3-row">
  <main class="w3-col m8">
    <!-- Blog entry -->
    <%= render(partial: "article", collection: @posts, spacer_template: "hr_spacer") || render('empty_list') %>
  </main>

  <div class="w3-col m4">
    <div class="w3-card-2 w3-margin w3-white">
      about
    </div>

    <div id="post_list" class="w3-card-2 w3-margin w3-white">

      <h3>Posts</h3>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.content %></td>
              <td><%= post.user %></td>
              <td><%= link_to 'Show', post %></td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Post', new_post_path %>
    </div>

    <div id="tag_list" class="w3-card-2 w3-margin w3-white">
      tag list
    </div>

    <div id="author_list" class="w3-card-2 w3-margin w3-white">
      author list
    </div>
  </div>
</div>
