<nav id="menu_bar" class="w3-theme-d3"> 
  <ul class="w3-navbar w3-left-align">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
      <a class="w3-hover-theme" id="mobile_menu">
        <span class="fa fa-bars"></span>
      </a>
    </li>
    <li>
      <%= link_to root_path, class: "w3-hover-theme" do %>
        <span class="fa fa-home"></span>&nbsp;Home
      <% end %>
    </li>
    <li class="w3-hide-small w3-navitem w3-hover-theme">
      <%= form_tag "", method: "get", remote: true, id: "search_form" do %>
        <%= text_field_tag "search", nil, class: ["w3-border-0", "w3-theme-l5"], placeholder: "Search"%>
        <button id="menu_search_button" class="w3-btn w3-padding-0 w3-transparent">
          <%= content_tag :span, "", class: "fa fa-search" %>
        </button>
      <% end %>
    </li>
    <li id="login_menu" class="w3-hide-small w3-right"
      <%= "style='display: none;'".html_safe if logged_in? %>
    >
      <a class="w3-hover-theme" href="#login_box">
        <span class="fa fa-user"></span>&nbsp;Login
      </a>
    </li>
    <li id="current_user_menu" class="w3-hide-small w3-right w3-dropdown-hover w3-hover-theme"
      <%= "style='display: none;'".html_safe unless logged_in? %>
    >
      <a class="w3-hover-theme">
        <span class="fa fa-user"></span>&nbsp;
        <span id="menu_user_name">
          <%= current_user.first_name if logged_in? %>
        </span>&nbsp;
        <span class="fa fa-caret-down"></span>
      </a>
      <div class="w3-dropdown-content w3-card-4 w3-theme-l3">
        <a class="w3-hover-theme" href="/posts/new">New Post</a>
        <a class="w3-hover-theme" href="/account">My Account</a>
        <% 
          html_option = { class: "w3-hover-theme", id: "admin_menu" };
          html_option[:style] = "display: none;" unless admin?
        %>
        <%= link_to "Manage Users", users_path, html_option  %>
        <%= link_to "Logout", logout_path, class: "w3-hover-theme", method: :delete %>
      </div>
    </li>
  </ul>
</nav>
