<!DOCTYPE html>
<html>
  <head>
    <title>Jay's Blog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-theme-l4">
    <div class="w3-content">
      <header class="w3-containter w3-center w3-padding-16">
        <%= render 'layouts/menu' %>
        <h1><b>Jay's Blog</b></h1>
        <%= render 'layouts/login_modal' %>
      </header>
      <%= yield %>
      <footer class="w3-center">
        <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </footer>
    </div>
  </body>
</html>
